{% extends "base.html" %} {% block title %}Cadastro - Teteu Pitstop{% endblock %} {% block content %}

{% if message %}
<div class="alert alert-{{message.type}}" style="margin-top: -3em;">{{message.txt}}</div>
{% endif %}

<h2 style="font-size: 4em; margin-bottom: 2rem">Edição de {{title}}</h2>

<form method="post" class="container-sm d-flex flex-column gap-5 align-items-center">
    {% csrf_token %}

    <div class="d-flex flex-wrap gap-5 justify-content-center add-form">
        {% for field in fields %}
        <div class="form-group col-5">
            <label for="{{field.name}}">{{field.label}}</label>
            {% if field.type == "input" %}
            <input
                type="{{field.data}}"
                step="0.01"
                name="{{field.name}}"
                id="{{field.name}}"
                placeholder="{{field.placeholder}}"
                value="{{field.value}}"
                class="form-control"
            />
            {% else %}
                {% if field.type == "select multiple" %}
                <select name="{{field.name}}" id="{{field.name}}" class="form-select" multiple>
                {% else %}
                <select name="{{field.name}}" id="{{field.name}}"  class="form-select">
                    <option value="0">{{field.placeholder}}</option>
                {% endif %}
                    {% for option in field.data %}
                        
                    {% if option.id == field.value %}
                        {% if option.name %}
                        <option value="{{option.id}}" selected>{{option.name}}</option>
                        {% else %}
                        <option value="{{option.id}}" selected>{{option.model}} - {{option.plate}}</option>
                        {% endif %}
                    {% else %}
                        {% if option.name %}
                        <option value="{{option.id}}">{{option.name}}</option>
                        {% else %}
                        <option value="{{option.id}}">{{option.model}} - {{option.plate}}</option>
                        {% endif %}
                    {% endif %}

                    {% endfor %}
                </select>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary col-4">Salvar Alterações</button>
</form>

<script>
    const dateInput = document.querySelector("#conclusion_date");

    if (dateInput) {
        const date = new Date();
    
        dateInput.setAttribute("min", date.toISOString().substring(0, 10));
    }
</script>

{% endblock %}
